.color {
    background-color: white;
}

.blackWhite {
    background-color: black;
}

.normal-font {
  font-family: Times, "Times New Roman", Georgia, serif;
}

.other-font {
  font-family: "Gill Sans Extrabold", sans-serif;

}
